@tailwind base;

@layer base {
  html {
    filter: invert(100%);
  }
  body {
    background: #111;
  }
}


/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
